@{
    ViewBag.Title = "Home Page";
}

<div class="row" style="margin-top:30px;">
    <div class="text-center">
        <div class="row" style="margin-bottom:30px">
            <div class="col-md-6">
                <input id="SignBtn" name="SignBtn" class="btn btn-primary btn-lg btn-block" type="button" value="Sign" onclick="StartSign()" />
            </div>
            <div class="col-md-6">
                <input id="SignBtn" name="SignBtn" class="btn btn-success btn-lg btn-block" type="button" value="Clear Data" onclick="ClearFormData()" />
            </div>
        </div>
       
        <div class="row">
            <form action="#" name=FORM1>
                <table border="1" cellpadding="0" width="500" class="table" style="border:none">
                    <tbody>
                        <tr>
                            <td height="250" width="500" colspan="2">
                                <canvas id="cnv" name="cnv" width="500" height="250"></canvas>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <textarea NAME="sigRawData" class="form-control" style="width:100%" ROWS="10">Signature Raw Data: </textarea>

                            </td>
                            <td><textarea NAME="sigImageData" class="form-control" style="width:100%" ROWS="10">Signature Image Data: </textarea></td>
                        </tr>
                    </tbody>
                </table>
                <input TYPE=HIDDEN NAME="bioSigData" />
                <input TYPE=HIDDEN NAME="sigImgData" />
            </form>
        </div>
    </div>
</div>

<script type="text/javascript">

    var imgWidth;
    var imgHeight;
    function StartSign() { 
        var canvasObj = document.getElementById('cnv');
        canvasObj.getContext('2d').clearRect(0, 0, canvasObj.width, canvasObj.height);
        document.FORM1.sigRawData.value = "Signature Raw Data: ";
        document.FORM1.sigImageData.value = "Signature Image Data: ";
        imgWidth = canvasObj.width;
        imgHeight = canvasObj.height;
        var message = { "firstName": "pradeep", "lastName": "thapaliya", "eMail": "", "location": "asdf", "imageFormat": 1, "imageX": imgWidth, "imageY": imgHeight, "imageTransparency": false, "imageScaling": false, "maxUpScalePercent": 0.0, "rawDataFormat": "ENC", "minSigPoints": 25, "penThickness": 3, "penColor": "#000000" };

        document.addEventListener('SigCaptureWeb_SignResponse', SignResponse, false);
        var messageData = JSON.stringify(message);
        var element = document.createElement("SigCaptureWeb_ExtnDataElem");
        element.setAttribute("SigCaptureWeb_MsgAttribute", messageData);
        document.documentElement.appendChild(element);
        var evt = document.createEvent("Events");
        evt.initEvent("SigCaptureWeb_SignStartEvent", true, false);
        element.dispatchEvent(evt);
    }
    function SignResponse(event) {
        var str = event.target.getAttribute("SigCaptureWeb_msgAttri");
        var obj = JSON.parse(str);
        SetValues(obj, imgWidth, imgHeight);
    }
    function SetValues(objResponse, imageWidth, imageHeight) {
        var obj = JSON.parse(JSON.stringify(objResponse));
        var ctx = document.getElementById('cnv').getContext('2d');

        if (obj.errorMsg != null && obj.errorMsg != "" && obj.errorMsg != "undefined") {
            //alert(obj.errorMsg);
        }
        else {
            if (obj.isSigned) {
                document.FORM1.sigRawData.value += obj.rawData;
                document.FORM1.sigImageData.value += obj.imageData;
                var img = new Image();
                img.onload = function () {
                    ctx.drawImage(img, 0, 0, imageWidth, imageHeight);
                }
                img.src = "data:image/png;base64," + obj.imageData;
            }
        }
    }

    function ClearFormData() {
        var ctx = document.getElementById('cnv').getContext('2d');
        document.FORM1.sigRawData.value = "Signature Raw Data: ";
        document.FORM1.sigImageData.value = "Signature Image Data: ";
        ctx.clearRect(0, 0, 500, 300);
    }
</script>